# Flutter
build/
.dart_tool/
pubspec.lock

# IDEs
.idea/
.vscode/

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Android
android/.gradle/

# Logs und temporäre Dateien
*.log
*.tmp

# macOS
*.DS_Store
*.iml

code.cmd
*.code-workspace
np++.*
npp

